params {

    reads      = null
    reference  = null
    outdir     = "results"
    conda_env  = null
}

profiles {

    local {

        process.executor = 'local'

        conda.enabled = true

        process.conda =   "/home/maria/miniforge3/envs/nextflow"

    }

    cluster {

        process.executor = 'slurm'

        conda.enabled = true

        docker.enabled = false

        process.queue = 'long'
    }

     container {
            process.executor = 'local'

            conda.enabled = false

            docker.enabled = true
    
            process.container = 'mashakrasha/hw3-nextflow:latest'

        }
    
}

