params {

    // REQUIRED
    reads      = null
    reference  = null

    // OPTIONAL
    outdir     = "results"

    // local conda env
    conda_env  = null
}

profiles {

    local {

        process.executor = 'local'

        conda.enabled = true

        process.conda =   "/home/maria/miniforge3/envs/nextflow"

    }
}

